.collegeSection{
    background:
      radial-gradient(circle at top, rgba(255,255,255,0.06), transparent 40%),
      radial-gradient(circle at bottom, rgba(255,255,255,0.04), transparent 45%),
      #000;
    padding: 120px 24px;
    color: #fff;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.heading{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
    background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0.4));
    color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.subHeading{
    font-size: 15px;
    color: #bdbdbd;
    margin-bottom: 50px;
    margin-bottom: 80px;
}


@media (max-width: 640px) {

    .heading{
        font-size: 40px;
    }

}